<footer>
  <hr />
<div class="row">
  <!-- <div class="col-lg-12"> -->
    <center>
    <span>Copyright &copy; <a href="https://mcgill.ca/eas/myung-hee-kim" target="_blank">Myung Hee Kim</a>. 2019-2020 </span> |
    <span>Powered By: <a href="https://htyao.gitlab.io" target="_blank">Hua-Ting Yao</a></span> |
    <a href="javascript:window.open('mailto:' + ['hua-ting.yao','polytechnique.edu?subject=[mcgill-kr]'].join('@'))" target="_blank">
      Bug Report
    </a>
    </center>
  <!-- </div> -->
</div>
</footer>
