    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <a class="navbar-brand" href="{{'/' | prepend: site.baseurl}}">HOME</a>
        {% if layout.class == "article" %}
        <input type="checkbox" id="navbar-toggle-cbox">
        <div class="navbar-header">
          <label for="navbar-toggle-cbox" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="sr-only"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </label>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul id="exercise-list" class="nav navbar-nav navbar-right">
            {% assign cat = page.categories[0] %}
            {% assign v = site.categories[cat] | where_exp: "item", "item.tags contains 'vocabulary'" %}
            {% assign voc_page = v[0] %}
            {% if page.layout != "voc_page" %}
            <li><a href='{{voc_page.url | prepend: site.baseurl}}' data-help="Back to the story page">Origin text</a></li>
            {% endif %}
            <!-- <li><a id="vocBtn" class="showContent">Show Vocabulary</a></li> -->
            <!-- {% if page.layout == "voc_page" %}
            <li><a id="vocModeBtn" class="hide">Inner Mode</a></li>
            {% endif %} -->
            <!-- <hr /> -->
            {% assign exercises = site.categories[cat] | where_exp: "item", "item.tags contains 'cloze'" %}
            {% for exo in exercises %}
            {% if exo.url != page.url %}
            <li><a href='{{exo.url | prepend: site.baseurl}}' name='{{exo.title}}' data-help='Go to the {{exo.title}}'>{{exo.title | truncatewords: 1}}</a></li>
            {% endif %}
            {% endfor %}
            {% if page.layout == "cloze_page" %}
            <li><a id="checkAnswerBtn">Check Answer</a></li>
            <li><a id="resetBtn">Reset</a></li>
            {% endif %}
            <!-- <hr /> -->
            <!-- <li>
                <a id="back-top">To Top</a>
              </li> -->
          </ul>
        </div>
        <!-- /.navbar-collapse -->
        {% endif %}

      </div>
      <!-- /.container -->
    </nav>
