/**
 * @Author: htyao
 * @Date:   2020-05-16T22:22:23+02:00
 * @Last modified by:   htyao
 * @Last modified time: 2020-06-06T03:11:03+02:00
 */
html {
  height: 100%;
}

/* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
body {
  padding-top: 70px;
  height: 100%;
  padding: 30px;
}

.container {
  min-height: 100%;
  position: relative;
}

#header {
  padding: 10px;
}

#body {
  padding: 10px;
  /* Height of the footer */
}

/* #footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
} */
footer {
  height: 30px;
}

.important {
  color: red;
}

#intro {
  padding-top: 20px;
  font-size: 16px;
}

#intro p {
  text-align: justify;
}

#back-top {
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  transition: opacity 1s;
}

/*
#back-top {
	position: fixed;
	bottom: 30px;
        right: 10%;
	opacity: 1;
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	transition: opacity 1s;
}

#back-top.fade {
  opacity: 0;
}

#back-top a {
	width: 50px;
	display: block;
	text-align: center;
	font: 11px/100% Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: #bbb;
}

#back-top a:hover {
	color: #000;
}
#back-top span {
	width: 50px;
	height: 50px;
	display: block;
	margin-bottom: 7px;
	background: #ddd url('../img/up-arrow.png') no-repeat center center;
        background-size: 30px 30px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}
#back-top a:hover span {
	background-color: #777;
}
*/
.article-content {
  font-size: x-large;
  word-spacing: 5px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.article-content p {
  margin-bottom: 30px;
  text-align: justify;
}

/* For Cloze */
.cloze input {
  border: none;
  border-bottom: 1px dotted grey;
  text-align: center;
}

.cloze input::placeholder {
  text-align: center;
  font-size: 16px;
}

.success {
  color: rgb(9, 143, 54, 0.8);
  /* border-bottom-color: green; */
}

.fail {
  color: rgba(255, 0, 0, 0.8);
}

.cloze input:focus {
  color: black;
  border-bottom: 2px solid #5264AE;
}

label {
  color: grey;
}

.cloze input:focus~label {
  color: #5264AE;
}

/* Execise list */
/*
#exercise-list {
  top: 28%;
  right:0%;
  width:30px;
  position: fixed;
}

#exercise-list ul {
  text-align: left;
}

#exercise-list a {
  padding-right: 2px;
  color: grey;
}

#exercise-list .highlight {
  color: black;
}

#exercise-list button {
  border: 1px solid #ff6666;
  border-radius: 5px;
  background-color: white;
}

#exercise-list button:hover {
  background-color: #ff6666;
  color: white;
}
@media (min-width: 768px) {
  #exercise-list {
    right: 5%;
  }
}

@media (min-width: 1400px) {
  #exercise-list {
    right: 5%;
  }
} */
.sparse-line {
  line-height: 2.5em;
}

/* VOC */
voc {
  position: relative;
  /* border-bottom: 1px dotted; */
  color: grey;
}

.trans {
  font-size: medium;
  position: absolute;
  top: 2em;
  left: 0;
  line-height: 1em;
}

.vocList {
  margin-top: 10px;
  width: 100%;
  font-size: 14px;
  overflow: hidden;
}

.vocUnit {
  width: 100%;
}

.vocElem {
  width: 50%;
  float: left;
}

@media (min-width: 768px) {
  .vocUnit {
    width: 48%;
    float: left;
    margin-left: 1%;
  }
}

*[data-trans] {
  position: relative;
}

*[data-trans]::after {
  content: attr(data-trans);
  position: absolute;
  /* top: -20px; */
  bottom: 100%;
  left: 0px;
  min-width: 100px;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity .15s ease-in-out;
  -moz-transition: opacity .15s ease-in-out;
  -ms-transition: opacity .15s ease-in-out;
  -o-transition: opacity .15s ease-in-out;
  transition: opacity .15s ease-in-out;
  display: block;
  font-size: 12px;
  line-height: 16px;
  /* background: #fefdcd; */
  /* padding: 2px 2px; */
  /* border: 1px solid #c0c0c0; */
  /* box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.4); */
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
}

*[data-trans]:hover::after {
  opacity: 1;
}

*[data-help] {
  position: relative;
}

@media (min-width: 768px) {
  *[data-help]::after {
    content: attr(data-help);
    position: absolute;
    /* top: -20px; */
    top: 100%;
    left: 0px;
    width: attr(data-length);
    min-width: 100px;
    pointer-events: none;
    opacity: 0;
    -webkit-transition: opacity .15s ease-in-out;
    -moz-transition: opacity .15s ease-in-out;
    -ms-transition: opacity .15s ease-in-out;
    -o-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out;
    display: block;
    font-size: 12px;
    line-height: 16px;
    /* background: #fefdcd; */
    /* padding: 2px 2px; */
    /* border: 1px solid #c0c0c0; */
    /* box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.4); */
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
  }

  *[data-help]:hover::after {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  *[data-help]:hover::after {
    content: attr(data-help);
    position: absolute;
    width: auto;
    font-size: 12px;
    left: 30%;
    color: white;
  }
}

#navbar-toggle-cbox:checked~.collapse {
  display: block;
}

/* the checkbox used only internally; don't display it */
#navbar-toggle-cbox {
  display: none
}

hr {
  margin: 0;
}

.nav>li>a {
  color: #777
}

.nav>li>a:hover {
  color: #fff;
  background-color: transparent
}
