---
title: 우산 장수와 짚신 장수
layout: voc_page
categories: 우산장수와짚신장수
tags: vocabulary
---
<p>옛날 옛날에 매일 매일 걱정만 하는 어머니가 살았어요.  이 어머니한테는 <voc data-voc='아들' data-trans=' son'>아들</voc>이 둘 있었는데  큰  아들은 <voc data-voc=' 우산' data-trans=' umbrella'>우산</voc>을 <voc data-voc=' 짚신' data-trans=' straw shoes'>팔고</voc> 작은  아들은 <voc data-voc=' 팔고/팔까 봐/팔 (팔다)' data-trans=' to sell'>짚신</voc>을 팔았어요.  비가 오는   날에는 작은  아들이 짚신을 못 팔까 봐  걱정을 했고 <voc data-voc=' 햇빛' data-trans=' sunlight'>햇빛</voc>이 <voc data-voc=' 화창하게(화창하다)' data-trans=' to be bright/sunny'>화창하</voc>게 <voc data-voc=' 맑은/맑으면(맑다)' data-trans=' to be clear'>맑은</voc> 날에는 큰 아들이 우산을 못 팔  것 같아서 걱정을 했어요.  하루는 매일 걱정만 하는  어머니를 보고 <voc data-voc=' 이웃' data-trans=' neighbor'>이웃</voc>이 말했어요.  “어머니처럼 걱정이 없는   사람이 없는데 왜 매일 걱정만 하세요?” 하면서 “비가 오면 큰  아들 <voc data-voc=' 장사' data-trans=' commerce/business'>장사</voc>가 잘 되어서  좋고 날이 맑으면  작은  아들 장사가 잘 되어서 좋잖아요.”라고 말했어요.  그 때부터 매일 매일 어머니는 걱정 없이 살았습니다. </p>
<p></p>

