---
title: 흥부와 놀부
layout: voc_page
categories: 흥부와놀부
tags: vocabulary
---
<p>옛날 옛날에 <voc data-voc='욕심 많은(욕심 많다)' data-trans=' to be greedy'>욕심 많은</voc> 형과 착한 동생이 살고 있었어요.  아버지가 <voc data-voc=' 돌아가시자(돌아가시다)' data-trans=' to pass away'>돌아가시자</voc> 형은 <voc data-voc=' 재산' data-trans=' possessions'>재산</voc>을 혼자 다 <voc data-voc=' 차지하고(차지하다)' data-trans=' to take possession of'>차지하고</voc> 동생을 집에서 <voc data-voc=' 내쫓아(내쫓다)' data-trans=' to kick someone out'>내쫓아</voc> 버렸어요.  동생은 열심히 일했지만 <voc data-voc=' 부인' data-trans=' wife'>부인</voc>과 아이들 11명을 <voc data-voc=' 먹여 살릴(먹여 살리다)' data-trans=' to feed'>먹여 살릴</voc> 만큼 돈을 벌 수 없었어요.  그래서 항상 가난하게 살았어요.   하지만 마음이 착한흥부는 형을 <voc data-voc=' 원망하지(원망하다)' data-trans=' to blame'>원망하지</voc>  않았어요. </p>
<p>어느 날, 흥부가 방에서 <voc data-voc='마루' data-trans=' center space between rooms'>마루</voc>로 나오는데<voc data-voc=' 구렁이' data-trans=' snake'>구렁이</voc>가 <voc data-voc=' 처마' data-trans=' eaves'>처마</voc> 밑에 <voc data-voc=' 제비집' data-trans=' a swallow’s nest'>제비집</voc>을 <voc data-voc=' 노리다' data-trans=' to aim'>노리고</voc> 올라가는 것을 봤어요.   흥부가 급히 구렁이를 <voc data-voc=' 쫓아 내었지만(쫓아 내다)' data-trans=' to chase'>쫓아내었지만</voc> 제비집에 있던 제비 <voc data-voc=' 새끼' data-trans=' baby animal'>새끼</voc>가 떨어져서 다리가 <voc data-voc=' 부러졌어요(부러지다)' data-trans=' to be broken'>부러졌어요</voc>.  흥부는 제비 다리를 <voc data-voc=' 정성껏' data-trans=' heartily'>정성껏</voc> <voc data-voc=' 치료해(치료하다)' data-trans=' to give a treatment'>치료해</voc> 주었어요.  치료 받은 아기 제비는 다리가 다 나아서 겨울이 오기 시작하자 따뜻한나라로 떠났어요.  </p>
<p>그 다음 해 봄이 되자 떠났던 제비가 다시 돌아오면서 <voc data-voc=' 박씨' data-trans=' gourd seed'>박씨</voc>를 하나 흥부에게 가져다 주었어요.  흥부는 그 박씨를 <voc data-voc=' 마당' data-trans=' garden'>마당</voc>에 <voc data-voc=' 심었어요(심다)' data-trans=' to plant'>심었어요</voc>.  가을이 되자 박이 <voc data-voc=' 주렁주렁' data-trans=' in clusters'>주렁주렁</voc> <voc data-voc=' 달리기 (달리다)' data-trans=' to be hung'>달렸어요</voc>.  항상 가난한 흥부는 <voc data-voc=' 박' data-trans=' gourd'>박</voc>을 <voc data-voc=' 따서(따다)' data-trans=' to pick'>따서</voc>죽을 <voc data-voc=' 끓여(끓이다)' data-trans=' to cook/boil'>끓여</voc> 먹으려고 <voc data-voc=' 박을 타기(박을 타다)' data-trans=' to open gourd'>박을 타기</voc> 시작했어요.  박이 <voc data-voc=' 열리자(열리다)' data-trans=' to be open'>열리자</voc> 박속에는 돈과 보석이 <voc data-voc=' 가득했어요(가득하다)' data-trans=' to be full'>가득했어요</voc>.  그래서 흥부는 갑자기 큰 부자가 되었어요.</p>
<p>흥부가 부자가 되었다는 <voc data-voc=' 소문' data-trans=' rumor'>소문</voc>을 듣고 놀부는 배가 아파서 <voc data-voc=' 견딜(견디다)' data-trans=' to endure/stand'>견딜</voc> 수가 없었어요.  어떻게 해서 부자가 되었는지 <voc data-voc=' 알아내야(알아내다)' data-trans=' to find out'>알아내야</voc> 했어요.  흥부의 이야기를 듣고놀부는 <voc data-voc=' 당장' data-trans=' right away'>당장</voc> 제비를 찾아서 <voc data-voc=' 일부러' data-trans=' on purpose'>일부러</voc> 다리를 <voc data-voc=' 부러뜨렸어요(부러뜨리다)' data-trans=' to break something'>부러뜨렸어요</voc>. 그리고는 정성껏 치료를 해 주었어요.  다리를 다친 제비는 겨울이 되어 따뜻한 나라에 갔다가 돌아오면서 놀부에게 박씨를 가져다 주었어요.  놀부는 <voc data-voc=' 신이 나서(신이 나다)' data-trans=' to be thrilled'>신이 나서</voc> 그 박씨를 심고박이 달리기를 기다렸어요.  가을이 되어서  박이 달리자 박을 타기 시작했어요.  그런데 이게 웬일이에요?  박에서 <voc data-voc=' 금은보화' data-trans=' treasure'>금은보화</voc>는 나오지 않고 <voc data-voc=' 도깨비' data-trans=' goblin'>도깨비</voc>들이 나와서 놀부의 집을 다 <voc data-voc=' 부수고(부수다)' data-trans=' to destroy'>부수고</voc> 놀부 재산을 다 <voc data-voc=' 뺏어(뺏다)' data-trans=' to take away '>뺏어</voc> 갔어요.  갑자기 가난해진 놀부를 착한 흥부가 집에 데리고 와서 같이 살았답니다.</p>
<p></p>
<p></p>

