---
title: 금도끼 은도끼
layout: voc_page
categories: 금도끼은도끼
tags: vocabulary
---
<p>옛날에 아주 착한 <voc data-voc='나무꾼' data-trans=' lumberjack'>나무꾼</voc>이 살았어요.  나무꾼은 아주 <voc data-voc=' 가난했어요(가난하다)' data-trans=' to be poor'>가난</voc>했어요.  하루는 <voc data-voc=' 연못' data-trans=' pond'>연못 </voc>옆에서 열심히 <voc data-voc=' 도끼' data-trans=' axe'>도끼</voc>로 나무를 <voc data-voc=' 베다' data-trans=' to cut'>베고</voc> 있었는데 <voc data-voc=' 실수' data-trans=' mistake'>실수</voc>로 그만 도끼를 물에 <voc data-voc=' 빠뜨리고(빠뜨리다)' data-trans=' to drop (in water)'>빠뜨리고</voc> 말았어요.  <voc data-voc=' 나무를 해서/나무도 할(하다)' data-trans=' to cut trees'>나무를 해서</voc> <voc data-voc=' 겨우' data-trans=' barely'>겨우</voc> 먹고 사는데 도끼를 물에 빠뜨려서 잃어 버렸으니 어떻게 해야 할지 앞이 <voc data-voc=' 막막했어요/막막합니다(막막하다)' data-trans=' to not know what to do (in desperation)'>막막했어요</voc>.  그래서 연못 속을 <voc data-voc=' 들여다 보면서(들여다 보다)' data-trans=' to look in'>들여다 보면서</voc> 걱정을 하고  있었어요.  그런데 갑자기 그 연못에서 <voc data-voc=' 산신령님' data-trans=' god in forest'>산신령님</voc>이 <voc data-voc=' 나타났어요/나타나서(나타나다)' data-trans=' to appear'>나타났어요</voc>.  </p>
<p>산신령님이 ‘무슨 걱정이 그렇게 커서 네 걱정 소리가 연못 바닥까지 들리는 것이냐?’하고 물었어요.</p>
<p>나무꾼이 ‘저는 산에서 나무를 해서 겨우 먹고 사는  사람인데 실수로 도끼를 연못에 빠뜨려  버렸습니다.  이제 나무를 못 하면 제가 <voc data-voc=' 모시고 (모시다)' data-trans=' to take care'>모시는 </voc> 우리 어머님이 아무 것도 드실  것이 없습니다.’라고 대답했어요.</p>
<p>산신령님은 그 말을 듣고 다시 연못으로 들어갔어요. 그리고는 도끼를 세 개 가지고 다시 나타나서 물었어요.  ‘이 <voc data-voc=' 금도끼' data-trans=' gold axe'>금도끼</voc>가 네 것이냐?’ </p>
<p>나무꾼이 ‘아닙니다, 그건 제 것이 아닙니다.’ 하고 대답했어요.  산신령님은 ‘그럼, 이 <voc data-voc=' 은도끼' data-trans=' silver axe'>은도끼</voc>가 네 것이냐?’ 하니까 나무꾼이  ‘아닙니다.  제 도끼는 오래 된 <voc data-voc=' 쇠도끼' data-trans=' iron axe'>쇠도끼</voc>입니다.’라고 말했어요.  산신령님은 나무꾼의 <voc data-voc=' 정직함(정직하다)' data-trans=' to be honest'>정직함</voc>을 <voc data-voc=' 칭찬하면서(칭찬하다)' data-trans=' to praise'>칭찬하면서</voc> 금도끼, 은도끼, 쇠도끼를 모두 주었어요.</p>
<p>며칠 후, 이 소문이 온 <voc data-voc=' 마을' data-trans=' village'>마을</voc>에 <voc data-voc='  쫙' data-trans=' widely'>쫙</voc> <voc data-voc=' 퍼졌어요 (퍼지다)' data-trans=' to spread'>퍼졌어요</voc>.  <voc data-voc=' 욕심' data-trans=' greediness'>욕심</voc>이 많은 한 사람이 그 <voc data-voc=' 소문' data-trans=' rumor'>소문</voc>을 듣고  자기도 똑같이 해서 금도끼, 은도끼를 받아야겠다고 생각했어요.  그래서 똑같이 쇠도끼를 들고 나무를 하는 <voc data-voc=' 척 하다가 (척하다)' data-trans=' to pretend'>척 하다가</voc> <voc data-voc=' 일부러' data-trans=' on purpose'>일부러</voc> 연못에 도끼를 떨어뜨렸어요.  그리고 <voc data-voc=' 펑펑' data-trans=' (cry) a lot'>펑펑</voc> 울기 시작했어요. </p>
<p><voc data-voc=' 그러자' data-trans=' then'>그러자</voc> 산신령님이 나타나서 ‘너는 무슨 일이 있어서 그렇게 울고 있느냐’고 했어요.  <voc data-voc=' 욕심장이' data-trans=' greedy person'>욕심장이</voc>가 ‘도끼를 잃어 버려서 나무도 할 수 없게 되었으니 이제 살 길이 막막합니다.’라고 대답했어요.  산신령님은 연못으로 다시 들어가 금도끼, 은도끼, 쇠도끼를 가지고 나와서 ‘이 금도끼가 네 것이냐’고 물었어요.  욕심장이는 ‘네, 네, 그 금도끼하고 은도끼 둘 다 제 것입니다.’하고 거짓말을 했어요.  산신령님은 <voc data-voc=' 불' data-trans=' fire'>불</voc>같이 화를 내면서 욕심장이를 <voc data-voc=' 야단치고' data-trans=' (야단치다) to scold'>야단치고</voc> 아무 것도 주지 않았어요.  욕심장이는 자기가 가지고 간  쇠도끼<voc data-voc='  마저' data-trans=' even'>마저</voc> 잃어 버리고(잃어 버리다) 말았어요.</p>
<p></p>

