---
title: Particle 연습
layout: cloze_page
categories: 형님댁의보물
tags: cloze
---
<p>두 형제<cloze data-hint="">가</cloze> 한 동네<cloze data-hint="">에</cloze> <voc data-voc='나란히' data-trans=' side by side'>나란히</voc> 집<cloze data-hint="">을 </cloze>짓고 살았습니다.</p>
<p>형님<cloze data-hint="">네</cloze> 집<cloze data-hint="">은 </cloze>항상 웃음소리<cloze data-hint="">가</cloze> 들리는 <voc data-voc=' 화목한(화목하다)' data-trans=' to be in harmony'>화목한</voc> 가정인데 동생<cloze data-hint="">네 </cloze>집<cloze data-hint="">에서는</cloze> 싸우는 소리<cloze data-hint="">가</cloze> 자주 들렸습니다.</p>
<p>‘우리집<cloze data-hint="">은 </cloze>그렇지 못한데 형님 댁<cloze data-hint="">은 </cloze>어떻게 늘 웃음소리<cloze data-hint="">가</cloze> 들리는지 알 수<cloze data-hint="">가</cloze> 없네…’</p>
<p>동생<cloze data-hint="">은</cloze> 궁금하게 생각하였습니다.</p>
<p>‘<voc data-voc=' 재산' data-trans=' fortune'>재산</voc><cloze data-hint="">도</cloze> 아버지<cloze data-hint="">께서</cloze> 돌아가신  후, 형님<cloze data-hint="">과</cloze> 내<cloze data-hint="">가</cloze> 똑같이 받았고 형님<cloze data-hint="">은</cloze> 식구<cloze data-hint="">가 </cloze>나<cloze data-hint="">보다</cloze> 더 많은데… <voc data-voc=' 아무래도' data-trans=' I am quite sure'>아무래도</voc> 무슨 보물<cloze data-hint="">을</cloze> <voc data-voc=' 숨겨 놓은(숨겨 놓다)' data-trans=' to hide'>숨겨 놓은 </voc> 모양이야.  가서 보물<cloze data-hint="">을</cloze> 나누어 가지자고  해야지.’</p>
<p>동생<cloze data-hint="">은</cloze> 이렇게 생각하고 형님 댁<cloze data-hint="">을</cloze> 찾아갔습니다.</p>
<p>“어서 와.”</p>
<p>형님<cloze data-hint="">이</cloze> 동생<cloze data-hint="">을</cloze> 반갑게  맞아 주었습니다.  그런데 형님<cloze data-hint="">은</cloze> 길이<cloze data-hint="">가</cloze> 짧은 이상하게 생긴  바지<cloze data-hint="">를</cloze> 입고 있었습니다.  </p>
<p>“바지 모양<cloze data-hint="">이</cloze> 왜 그렇습니까? 긴 바지<cloze data-hint="">도 </cloze>아니고 짧은 바지<cloze data-hint="">도</cloze> 아니고 이상하군요.”</p>
<p>동생<cloze data-hint="">이</cloze> 말했습니다.</p>
<p>“허허, 그럴 이유<cloze data-hint="">가</cloze> 있지.”</p>
<p>형님<cloze data-hint="">이</cloze> 껄걸 웃었습니다.</p>
<p>“내<cloze data-hint="">가</cloze> 어제 시장<cloze data-hint="">에서</cloze> 바지 하나<cloze data-hint="">를</cloze> 샀지.  집<cloze data-hint="">에</cloze> 와서(오다) 보니까(보다) 길이<cloze data-hint="">가</cloze> 너무 길지 않겠어? 그래 저녁<cloze data-hint="">을</cloze> 먹으면서 식구들 앞<cloze data-hint="">에서</cloze>  바지<cloze data-hint="">를</cloze> 5 cm W쯤 <voc data-voc=' 줄여야겠다고(줄이다)' data-trans=' to shorten'>줄여야겠다고</voc> 말했지.”</p>
<p>“그게  5cm 줄이신 겁니까?  15 cm쯤 줄이신 것 같은데요.”</p>
<p>“그런데 아침<cloze data-hint="">에</cloze> 보니까 이렇게 많이 줄어 있잖아.”</p>
<p>“그럼 <voc data-voc=' 형수' data-trans=' older bother’s wife for boys'>형수</voc>님<cloze data-hint="">은</cloze> 5cm <cloze data-hint="">가</cloze> 어느 정도인지도 잘 모르신다는 말씀입니까?”</p>
<p>“아니지. 형수<cloze data-hint="">야 </cloze> 분명히 5cm <cloze data-hint="">만 </cloze>줄였지.”</p>
<p>“그럼, 10cm<cloze data-hint="">는</cloze> 누가 줄였어요?”</p>
<p>“5cm <cloze data-hint="">는</cloze> 큰딸<cloze data-hint="">이</cloze> 줄였고 또 5 cm <cloze data-hint="">는 </cloze>둘째 딸<cloze data-hint="">이</cloze> 줄인 거야.  딸<cloze data-hint="">이</cloze> 둘이니까 다행이지.  하나 더 있었다면 이 바지는 아마 더 짧아졌을 거야.  허허허.”</p>
<p>“형님도 참, 웃음<cloze data-hint="">이</cloze> 나오세요? 저 같으면 야단<cloze data-hint="">을 </cloze>치겠습니다.”</p>
<p>“허허, 너<cloze data-hint="">는</cloze> 하나<cloze data-hint="">는</cloze> 알고 둘<cloze data-hint="">은</cloze> 모르는구나.  바지<cloze data-hint="">는</cloze> 이렇게 됐지만 제 어머니<cloze data-hint="">를</cloze> 도우려고 큰 딸<cloze data-hint="">이</cloze> 먼저 줄여 놓은 것<cloze data-hint="">을</cloze> 어떻게 잘못이라고 할 수 있겠니? 또, 집안 일<cloze data-hint="">에</cloze> 바쁜 어머니<cloze data-hint="">와</cloze> 학교 시험 준비<cloze data-hint="">에</cloze> 바쁜 언니<cloze data-hint="">를</cloze> 도우려고 둘째<cloze data-hint="">가</cloze> 줄여 놓은 것<cloze data-hint="">을</cloze> 어떻게 잘못이라고 할 수 있겠어?  하루 일<cloze data-hint="">이</cloze> 끝나고 피곤해서 잠<cloze data-hint="">이</cloze> 들었다가 바지 생각<cloze data-hint="">이</cloze> 나서 눈<cloze data-hint="">을</cloze> <voc data-voc=' 비비며(비비다)' data-trans=' to rub'>비비며</voc> 5cm<cloze data-hint="">를</cloze> 줄여 놓은 네 형수<cloze data-hint="">에게</cloze> 어떻게 잘못<cloze data-hint="">을 </cloze>말할 수 있겠니? 안 그래?”</p>
<p>그제서야 동생<cloze data-hint="">은 </cloze><voc data-voc=' 고개를 끄덕였습니다(고개를 끄덕이다)' data-trans=' to nod'>고개를 끄덕였습니다</voc>.</p>
<p>동생<cloze data-hint="">은</cloze> 그 길<cloze data-hint="">로</cloze> 가서 바지 하나<cloze data-hint="">를</cloze> 샀습니다.  그리고 저녁<cloze data-hint="">을</cloze> 먹을 때<cloze data-hint="">에</cloze> 식구들<cloze data-hint="">을</cloze> 보고 바지<cloze data-hint="">가</cloze> 10cm쯤 길다고 말했습니다.</p>
<p><voc data-voc=' 이튿날 ' data-trans=' the next day'>이튿날</voc> 아침, 바지<cloze data-hint="">를</cloze> 입어 보니까 바지<cloze data-hint="">가</cloze> 그대로 있었습니다.  동생<cloze data-hint="">은</cloze> 화가 나서 아내<cloze data-hint="">에게</cloze> 소리<cloze data-hint="">를</cloze> 질렀습니다.</p>
<p>“왜 바지<cloze data-hint="">를</cloze> 아직<cloze data-hint="">까지</cloze> 안 줄인 거야!”</p>
<p>“얘, 영숙아, 아버지 바지 왜 안 줄였니?”</p>
<p>아내<cloze data-hint="">가</cloze> 큰 딸<cloze data-hint="">을</cloze> <voc data-voc=' 나무랐습니다(나무라다)' data-trans=' to blame'>나무랐습니다</voc>.</p>
<p>“얘, 경숙아, 아버지 바지 왜 안 줄였니? 왜 시키는 일<cloze data-hint="">을 </cloze>안 하는 거야?”</p>
<p>큰 딸<cloze data-hint="">이</cloze> 동생<cloze data-hint="">에게</cloze> 야단을 쳤습니다 .</p>
<p>“숙제<cloze data-hint="">가</cloze> 많아서 못 했어.”</p>
<p>둘째 딸<cloze data-hint="">은</cloze> 문<cloze data-hint="">을</cloze> ‘쾅’ 닫고 나갔습니다.</p>
<p>동생<cloze data-hint="">은</cloze> <voc data-voc=' 한숨을 쉬며(한숨을 쉬다) ' data-trans=' to sigh'>한숨을 쉬며</voc> <voc data-voc=' 중얼거렸습니다(중얼거리다)' data-trans=' mumble'>중얼거렸습니다</voc>.</p>
<p>“형님 댁<cloze data-hint="">의</cloze> 보물<cloze data-hint="">이</cloze> 뭔지 이제 알겠다…”</p>
<p></p>

