---
title: 형님 댁의 보물
layout: voc_page
categories: 형님댁의보물
tags: vocabulary
---
<p>두 형제가 한 동네에 <voc data-voc='나란히' data-trans=' side by side'>나란히</voc> 집을 짓고 살았습니다.</p>
<p>형님네 집은 항상 웃음소리가 들리는 <voc data-voc=' 화목한(화목하다)' data-trans=' to be in harmony'>화목한</voc> 가정인데 동생네 집에서는 싸우는 소리가 자주 들렸습니다.</p>
<p>‘우리집은 그렇지 못한데 형님 댁은 어떻게 늘 웃음소리가 들리는지 알 수가 없네…’</p>
<p>동생은 궁금하게 생각하였습니다.</p>
<p>‘<voc data-voc=' 재산' data-trans=' fortune'>재산</voc>도 아버지께서 돌아가신  후, 형님과 내가 똑같이 받았고 형님은 식구가 나보다 더 많은데… <voc data-voc=' 아무래도' data-trans=' I am quite sure'>아무래도</voc> 무슨 보물을 <voc data-voc=' 숨겨 놓은(숨겨 놓다)' data-trans=' to hide'>숨겨 놓은 </voc> 모양이야.  가서 보물을 나누어 가지자고  해야지.’</p>
<p>동생은 이렇게 생각하고 형님 댁을 찾아갔습니다.</p>
<p>“어서 와.”</p>
<p>형님이 동생을 반갑게  맞아 주었습니다.  그런데 형님은 길이가 짧은 이상하게 생긴  바지를 입고 있었습니다.  </p>
<p>“바지 모양이 왜 그렇습니까? 긴 바지도 아니고 짧은 바지도 아니고 이상하군요.”</p>
<p>동생이 말했습니다.</p>
<p>“허허, 그럴 이유가 있지.”</p>
<p>형님이 껄걸 웃었습니다.</p>
<p>“내가 어제 시장에서 바지 하나를 샀지.  집에 와서(오다) 보니까(보다) 길이가 너무 길지 않겠어? 그래 저녁을 먹으면서 식구들 앞에서  바지를 5 cm W쯤 <voc data-voc=' 줄여야겠다고(줄이다)' data-trans=' to shorten'>줄여야겠다고</voc> 말했지.”</p>
<p>“그게  5cm 줄이신 겁니까?  15 cm쯤 줄이신 것 같은데요.”</p>
<p>“그런데 아침에 보니까 이렇게 많이 줄어 있잖아.”</p>
<p>“그럼 <voc data-voc=' 형수' data-trans=' older bother’s wife for boys'>형수</voc>님은 5cm 가 어느 정도인지도 잘 모르신다는 말씀입니까?”</p>
<p>“아니지. 형수야  분명히 5cm 만 줄였지.”</p>
<p>“그럼, 10cm는 누가 줄였어요?”</p>
<p>“5cm 는 큰딸이 줄였고 또 5 cm 는 둘째 딸이 줄인 거야.  딸이 둘이니까 다행이지.  하나 더 있었다면 이 바지는 아마 더 짧아졌을 거야.  허허허.”</p>
<p>“형님도 참, 웃음이 나오세요? 저 같으면 야단을 치겠습니다.”</p>
<p>“허허, 너는 하나는 알고 둘은 모르는구나.  바지는 이렇게 됐지만 제 어머니를 도우려고 큰 딸이 먼저 줄여 놓은 것을 어떻게 잘못이라고 할 수 있겠니? 또, 집안 일에 바쁜 어머니와 학교 시험 준비에 바쁜 언니를 도우려고 둘째가 줄여 놓은 것을 어떻게 잘못이라고 할 수 있겠어?  하루 일이 끝나고 피곤해서 잠이 들었다가 바지 생각이 나서 눈을 <voc data-voc=' 비비며(비비다)' data-trans=' to rub'>비비며</voc> 5cm를 줄여 놓은 네 형수에게 어떻게 잘못을 말할 수 있겠니? 안 그래?”</p>
<p>그제서야 동생은 <voc data-voc=' 고개를 끄덕였습니다(고개를 끄덕이다)' data-trans=' to nod'>고개를 끄덕였습니다</voc>.</p>
<p>동생은 그 길로 가서 바지 하나를 샀습니다.  그리고 저녁을 먹을 때에 식구들을 보고 바지가 10cm쯤 길다고 말했습니다.</p>
<p><voc data-voc=' 이튿날 ' data-trans=' the next day'>이튿날</voc> 아침, 바지를 입어 보니까 바지가 그대로 있었습니다.  동생은 화가 나서 아내에게 소리를 질렀습니다.</p>
<p>“왜 바지를 아직까지 안 줄인 거야!”</p>
<p>“얘, 영숙아, 아버지 바지 왜 안 줄였니?”</p>
<p>아내가 큰 딸을 <voc data-voc=' 나무랐습니다(나무라다)' data-trans=' to blame'>나무랐습니다</voc>.</p>
<p>“얘, 경숙아, 아버지 바지 왜 안 줄였니? 왜 시키는 일을 안 하는 거야?”</p>
<p>큰 딸이 동생에게 야단을 쳤습니다 .</p>
<p>“숙제가 많아서 못 했어.”</p>
<p>둘째 딸은 문을 ‘쾅’ 닫고 나갔습니다.</p>
<p>동생은 <voc data-voc=' 한숨을 쉬며(한숨을 쉬다) ' data-trans=' to sigh'>한숨을 쉬며</voc> <voc data-voc=' 중얼거렸습니다(중얼거리다)' data-trans=' mumble'>중얼거렸습니다</voc>.</p>
<p>“형님 댁의 보물이 뭔지 이제 알겠다…”</p>
<p></p>

