---
title: Particle 연습
layout: cloze_page
categories: 우산장수와짚신장수
tags: cloze
---
<p>옛날 옛날<cloze data-hint="">에</cloze> 매일 매일 걱정<cloze data-hint="">만</cloze> 하는 어머니<cloze data-hint="">가 </cloze>살았어요.  이 어머니<cloze data-hint="">한테는</cloze> <voc data-voc='아들' data-trans=' son'>아들</voc><cloze data-hint="">이</cloze> 둘 있었는데  큰  아들<cloze data-hint="">은</cloze> <voc data-voc=' 우산' data-trans=' umbrella'>우산</voc><cloze data-hint="">을 </cloze><voc data-voc=' 짚신' data-trans=' straw shoes'>팔고</voc> 작은  아들<cloze data-hint="">은</cloze> <voc data-voc=' 팔고/팔까 봐/팔 (팔다)' data-trans=' to sell'>짚신</voc><cloze data-hint="">을</cloze> 팔았어요.  비<cloze data-hint="">가</cloze> 오는   날<cloze data-hint="">에는</cloze> 작은  아들<cloze data-hint="">이</cloze> 짚신<cloze data-hint="">을</cloze> 못 팔까 봐  걱정<cloze data-hint="">을</cloze> 했고 <voc data-voc=' 햇빛' data-trans=' sunlight'>햇빛</voc><cloze data-hint="">이</cloze> <voc data-voc=' 화창하게(화창하다)' data-trans=' to be bright/sunny'>화창하</voc>게 <voc data-voc=' 맑은/맑으면(맑다)' data-trans=' to be clear'>맑은</voc> 날<cloze data-hint="">에는</cloze> 큰 아들<cloze data-hint="">이</cloze> 우산<cloze data-hint="">을</cloze> 못 팔  것 같아서 걱정<cloze data-hint="">을</cloze> 했어요.  하루<cloze data-hint="">는</cloze> 매일 걱정<cloze data-hint="">만</cloze> 하는  어머니<cloze data-hint="">를</cloze> 보고 <voc data-voc=' 이웃' data-trans=' neighbor'>이웃</voc><cloze data-hint="">이</cloze> 말했어요.  “어머니<cloze data-hint="">처럼</cloze> 걱정<cloze data-hint="">이</cloze> 없는   사람<cloze data-hint="">이</cloze> 없는데 왜 매일 걱정<cloze data-hint="">만</cloze> 하세요?” 하면서 “비<cloze data-hint="">가</cloze> 오면 큰  아들 <voc data-voc=' 장사' data-trans=' commerce/business'>장사</voc><cloze data-hint="">가</cloze> 잘 되어서  좋고 날<cloze data-hint="">이</cloze> 맑으면  작은  아들 장사<cloze data-hint="">가</cloze> 잘 되어서 좋잖아요.”라고 말했어요.  그 때<cloze data-hint="">부터</cloze> 매일 매일 어머니<cloze data-hint="">는 </cloze>걱정 없이 살았습니다. </p>
<p></p>

