---
layout: default
class: article
---
<!--
<div id="exercise-list">
  {% assign cat = page.categories[0] %}
  <ul class="list-unstyled">
    {% assign v = site.categories[cat] | where_exp: "item", "item.tags contains 'vocabulary'" %}
    {% assign voc_page = v[0] %}
    <li><a href='{{voc_page.url | prepend: site.baseurl}}' {% if page.url == voc_page.url %}class="highlight"{% endif %}>Origin text: {{voc_page.title}}</a></li>
    <br />
    <li><button id="vocBtn" type="button" class="btn btn-xs">Show Vocabulary</button></li>
    {% if page.layout == "voc_page" %}
    <li><button id="vocModeBtn" type="button" class="btn btn-xs hide">Inner Mode</button></li>
    {% endif %}
    <hr/>
    {% assign exercises = site.categories[cat] | where_exp: "item", "item.tags contains 'cloze'" %}
    {% for exo in exercises %}
    <li><a href='{{exo.url | prepend: site.baseurl}}' {% if page.url == exo.url %}class="highlight"{% endif %}>{{exo.title}}</a></li>
    {% endfor %}
    <br/>
    {% if page.layout == "cloze_page" %}
    <li><button id="checkAnswerBtn" type="button" class="btn btn-xs">Check Answer</button></li>
    <li><button id="resetBtn" type="button" class="btn btn-xs">Reset</button></li>
    {% endif %}
  </ul>
</div>
-->
<center>
  <h1>{{voc_page.title}}</h1>
  <span class="glyphicon glyphicon-time"> {{page.date | date_to_string}}</span>
</center>
<hr />
<div id="article-content" class="article-content">
  {{ content }}
  <div id="vocBlock">
    <hr />
    새 단어
    <br />
    <!-- <div id="vocs" data-value="{{voc_page.content}}">
      </div> -->


    {% assign vocs = voc_page.content | tovoclist %}
    {% include voc_block.html vocs = vocs %}
  </div>
</div>
