---
jsarr:
- js/functions.js
cssarr:
- css/main.css
---
<!DOCTYPE HTML>
<html>
{% include head.html %}

<body>

  <div class="container">
    <!-- Navigation -->
    <div id="header">
      {% include nav.html %}
    </div>
    <!-- Page Content -->
    <div id="body">
      {{content}}
    </div>
  </div>
  <!-- Footer -->
</body>

<footer id="footer">
  {% include footer.html %}
</footer>
</html>
