---
layout: default
---
<div id="intro" class="col-md-12">
  <p> Welcome. This is the support materials for McGill Korean professor, Myung Hee Kim.
    As you can see, there's a list of stories,
    in each there are two exercises about conjugation and particle.
    Enjoy and bon courage.
  </p>
  <p> If you find any bug or have any suggestion,
    please do not hesitate send an email using bug report at the bottom.
    Moreover, you can find the project <a href="https://gitlab.com/htyao/mcgill-korean">here</a>
    if you want to do some contribution.
  </p>
</div>

{% for post in site.tags["vocabulary"] %}
<div class="col-md-12">
  <h3><a href='{{post.url | prepend: site.baseurl}}'>{{post.title}}</a></h3>
  <span class='glyphicon glyphicon-time'></span> {{post.date | date_to_string}}
  <br />
  <br />
  <p>{{post.content | strip_html | truncatewords: 20 }}</p>

  {% unless forloop.last %}
  <hr />{% endunless %}
</div>
{% endfor%}
